html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 36px;
    padding: 50px;
    background-color: rgb(209, 209, 209);
    color: #000000;
}

.container {
    max-width: 1600px;
    margin: 0 auto 0 auto;
    padding: 40px 15px 40px 15px;
    background-color: hsla(150, 20%, 40%, 0.5);
}

.title {
    padding-left: 25%;
}