.button {
    display: block;
    margin: 0 auto;
    background-color: $dot-color;
    color: #ffffff;
    border-radius: 4px;
}

.is-hidden {
    display: none;
}

.button_reset {
    width: 60px;
    height: 60px;
    padding: 0;
    margin: auto 0;
    background-color: $dot-color;
    color: #ffffff;
    border-radius: 4px;
}

.material-icons.reset {
    margin: 0;
}

.btn-flex {
    position: relative;
    display: flex;
}