.search-form {
    display: flex;
    justify-content: center;
    text-align: center;
}

.search-form__input {
    font-size: 25px;
    width: 500px;
    height: 61px;
    border-radius: 4px;
    padding-left: 16px;
}

input::placeholder {
    font-size: 16px;
}

.search-form__indent {
    margin: auto 20px;
    padding-left: 5px;
}