html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 36px;
    padding: 50px;
}

.js-info-country {
    padding-left: 25%;
}

.title {
    padding-left: 25%;
}

// .articles_list {
//     position: relative;
//     padding-left: 0;
// }
// .articles_item {
//     list-style: none;
// }
// .articles_item_lang {
//     list-style-type: disc;
//     list-style-position: inside;
//     padding-top: 20px;
// }
// .name-country {
//     width: 500px;
//     height: 50px;
//     font-size: 25px;
// }
// .articles_img {
//     position: absolute;
//     top: 0;
//     right: 35%;
// }